@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font-family: var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100svh;
  overflow-x: hidden;
}
